<!DOCTYPE html>
<html lang="ru">
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
  <p class="navbar-text navbar-right">Signed in as {{ current_user }} </p>
          <div class="navbar-header">
           <a class="navbar-brand" href="/">URL shortener</a>
      </div>
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
          <li ><a href="/">Create short URL <span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="/manage">Manage URLs</a></li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="container-fluid">
<div id="update-url">
<form action="{%url 'info' full_url.id%}" method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
<div class="row">
<div class="col-md-12"><a href="{{full_url.url}}"><h3>{{ parsed_url}}</h3></a></div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ form.short_url.errors }}
          <label  for="{{ form.short_url.id_for_label }}"><h6>Short URL:</h6></label>
      <p>

       {{ request.META.HTTP_HOST}}/{{ form.short_url }}</p>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    {{ form.text_message.errors }}
          <label  for="{{ form.text_message.id_for_label }}"><h6>Text:</h6></label>
      <p>

       {{ form.text_message }}</p>
</div>
</div>

<div class="row">
  <div class="col-md-5">
    {{ form.add_date.errors }}
          <label  for="{{ form.add_date.id_for_label }}"><h6>Created:</h6></label>
      <p> {{ form.add_date }}</p>
</div>
<div class="col-md-1"></div>
<div class="col-md-5">
  {{ form.click_count.errors }}
        <label  for="{{ form.click_count.id_for_label }}"><h6>Clicked:</h6></label>
    <p> {{ form.click_count }}</p>
</div>
</div>


<div class="row">

  <div class= "col-md-2"><a href="{% url 'manage'%}" <button type=button class="btn btn-default btn-block">Cancel</button></a></div>

<div class= "col-md-2"> <input type="submit" class="btn btn-primary btn-block" value="Save"></input></div>
<div class="col-md-6"></div>
<div class= "col-md-2"> <a href="{% url 'delete' full_url.id%}"><button type=button class="btn btn-danger btn-block">Delete</button></a></div>

</div>
</div>

</form>

</div>

</div>
</body>
</html>
